<%= form_for(@res_room) do |f| %>
  <% if @res_room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@res_room.errors.count, "error") %> prohibited this res_room from being saved:</h2>

      <ul>
      <% @res_room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :room %><br />
    <%= f.text_field :room %>
  </div>
  <div class="field">
    <%= f.label :hotel %><br />
    <%= f.text_field :hotel %>
  </div>
  <div class="field">
    <%= f.label :chkin_date %><br />
    <%= f.date_select :chkin_date %>
  </div>
  <div class="field">
    <%= f.label :chkout_date %><br />
    <%= f.date_select :chkout_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
