<!DOCTYPE html>
<html>
<head>
  <title>RailsBookingSite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    "bootstrap/bootstrap.min.css", :media => "all" %>

  <%= stylesheet_link_tag    "bootstrap/style.css", :media => "all" %>

  <%= javascript_include_tag "bootstrap/jquery.min.js" %>
  <%= javascript_include_tag "bootstrap/bootstrap.min.js" %>
  <%= javascript_include_tag "bootstrap/scripts.js" %>
  
</head>
<body>

<%= yield %>

</body>
</html>
